# Node
node_modules/

# Env secret
backend/.env

# Upload storage
backend/uploads_tmp/
backend/uploads_final/

# Docker
mysql-data/

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
